* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1300px;
    width: 1500px;
}

.container {
    margin-top: 200px;
    margin-left: 350px;
    border: 6px solid;
    width: 800px;
    height: 800px;
}

.box {
    border: 3px solid darkblue;
    width: 100%;
    height: 20%;
    text-align: center;
    align-content: center;
    background-color: darkblue;
}

.boxlong {
    border: 4px solid rgb(255, 2, 2);
    background-color: red;
    width: 25%;
    height: 80%;
    margin-top: 0px;
    display: inline-block;
}

.boxbig {
    border: 4px solid rgb(55, 148, 19);
    background-color: rgb(55, 148, 19);
    width: 75%;
    height: 80%;
    margin-left: -4px;
    display: inline-block;
}

span {
    font-size: 38px;
}

